.App {
  text-align: center;
}

.App-header {
  font-size: larger;
  background-color: #89CFF0;
  color: darkblue;
  padding: 2px 2px 2px 2px;
}

.App-sidebar {
  height: 100%;
  width: 23%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: blueviolet;
  z-index: -3;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #89CFF0;
  color: darkblue;
  text-align: center;

}